body {background-color: burlywood;}
id {color: white;}
h2{text-align:center}
h1{text-align:center}
h1{font-size:40px;}
h3{font-size:30px;}
li{font-size:larger}
div{text-align: center; }
ul{display: inline-block; text-align: left; }


